.button--blue {
  padding: 1vh;
  background-color: #1ac3da;
  border-radius: 8px;
  width: 200px;
  color: white;
  border: none;
  height: 7vh;
  font-size: 2vh;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Archivo';
}

@media (max-width: 800px) {
  .button--blue {
    width: 150px;
  }
}

.button--blue:hover {
  background-color: #149daf;
}

button {
  padding: 2vh 4vh 2vh 4vh;
  background-color: #fb4247;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 17px;
  font-family: 'Archivo';
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 800px) {
  button {
    font-size: 14px;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

button:hover {
  background-color: #b02d32;
}

.button--search {
  padding: 1vw 2vw 1vw 2vw;
  background-color: #1ac3da;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 800px) {
  .button--blue {
    font-size: 14px;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

.button--search:hover {
  background-color: #149daf;
}
