.footer {
  background: linear-gradient(
    0deg,
    rgba(31, 39, 66, 1) 0%,
    rgba(47, 57, 90, 1) 100%
  );
  width: 100%;
  margin-top: 10vh;
  height: fit-content;
}

@media (max-width: 800px) {
  .footer {
    padding: 4vh;
    width: auto;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.footer__container--center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

@media (max-width: 800px) {
  .footer__container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .footer__container.mobile-footer-order :nth-child(3) {
    order: 3;
  }
}

@media (max-width: 800px) {
  .footer__container--center {
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    column-gap: 6vh;
  }
}

.footer__column {
  flex-flow: column;
}

.footer__row {
  flex-flow: row;
  display: flex;
  gap: 40px;
}

@media (max-width: 800px) {
  .footer__row {
    flex-flow: column;
    gap: 0px;
  }
}

.footer__row--center {
  flex-flow: row;
  display: flex;
  gap: 40px;
}

@media (max-width: 800px) {
  .footer__row--center {
    flex-flow: column;
    column-gap: 1vh;
  }
}

.footer__newsletter-header {
  font-size: 42px;
  font-family: 'Archivo';
  color: white;
}

@media (max-width: 800px) {
  .footer__newsletter-header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 6vh;
  }
}

.footer__form {
  display: flex;
  flex-basis: 35%;
  gap: 1vh;
}

input[type='email'] {
  font-family: Hind;
  color: black;
  font-weight: 700;
}

.footer__email {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

.footer__button {
  background-color: #fb4247;
  font-family: Hind;
  color: white;
  width: fit-content;
  padding: 1vh 4vh 1vh 4vh;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.footer__button:hover {
  background-color: #b02d32;
}

.footer-header {
  font-size: 20px;
  color: white;
}

@media (max-width: 800px) {
  .footer-header {
    font-size: 18px;
  }
}

.footer__text {
  color: #c9cbd3;
}

@media (max-width: 800px) {
  .footer__text {
    text-align: center;
    font-size: 14px;
  }
}

.footer__links ul {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 800px) {
  .footer__links ul {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }
}

.footer__links a {
  text-decoration: none;
  color: #c9cbd3;
}

.footer__links a:visited {
  color: #c9cbd3;
}

.footer__links a:hover {
  color: #8c8e94;
}

.footer__divider {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  align-items: start;
  margin-bottom: 5vh;
  content: '';
  height: 1px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 90%;
  top: 50%;
  margin-top: 5px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .footer__divider {
    background: rgba(255, 255, 255, 0.308);
    width: 80%;
    align-items: center;
    margin-left: 25px;
  }
}

@media (max-width: 800px) {
  .footer__logo {
    display: none;
  }
}

.footer__social-media-button {
  background: #2f3a5f;
  padding: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.footer__social-media-button:hover {
  background: #1d233a;
}

.footer__social-media--row {
  flex-flow: row;
  display: flex;
  gap: 5px;
}

@media (max-width: 800px) {
  .footer__social-media--row {
    margin-top: 5vh;
  }
}
