.header {
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh;
  overflow: hidden;
}

.header__logo {
  width: 125%;
  height: auto;
  padding-right: 3%;
}

@media (max-width: 800px) {
  .header__logo {
    width: 70%;
  }
}

.header__link {
  padding-left: 3%;
  padding-right: 3%;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: 'Archivo';
}

.header__link:visited {
  color: black;
}

.group--links {
  flex-basis: 60%;
}

.group--buttons {
  display: flex;
  flex-basis: 15%;
}

.button--register {
  padding: 1.5vh 2vh 1.5vh 2vh;
  width: fit-content;
  background-color: #fb4247;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 17px;
  font-family: 'Archivo';
  cursor: pointer;
}

.button--register:hover {
  background-color: #b02d32;
}

.button--dropdown {
  color: black;
  font-size: 17px;
  font-family: 'Archivo';
  border: none;
  background: none;
  padding-right: 3vh;
  padding-left: 3vh;
}

.button--dropdown:hover {
  background: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin: 0;
}

.dropdown__content {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: #ffffff;
  min-width: 180px;
  z-index: 1;
  border-radius: 10px;
  padding: 2vh;
  font-weight: 600;
  line-height: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown__content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  margin-left: -10px;
  margin-top: -10px;
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.dropdown__content a {
  display: block;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown__content a:hover {
  color: red;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.button--login {
  border: none;
  background-color: inherit;
  color: black;
  font-family: 'Archivo';
  font-size: 17px;
  padding-right: 10%;
}

@media (max-width: 800px) {
  .button--login {
    border: #e2e2e2 solid 1px;
    padding: 2vh;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }
}

.button--login:hover {
  background-color: rgba(0, 0, 0, 0.082);
}

@media screen and (max-width: 800px) {
  .button--login:hover {
    background-color: #c5c5c57a;
    color: white;
  }
}

.button--trial {
  padding: 2vh;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header {
  width: 100%;
  margin-top: 2vh;
}

.mobile-menu {
  display: none;
  margin: 2vh;
  font-weight: 700;
  height: 95vh;
}

.mobile-menu a {
  text-decoration: none;
}

.mobile-menu a:visited {
  color: rgb(0, 0, 0);
}

.mobile-menu__background {
  display: none;
  background-color: rgba(0, 0, 0, 0.432);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -4vh;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 3vh;
  gap: 1vh;
  height: 95%;
  justify-content: space-between;
  overflow: auto;
}

.mobile-menu__container--row {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 30vw;
  margin-bottom: 2vh;
}

.mobile-menu__column {
  display: flex;
  flex-direction: column;
}

.button--close {
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  padding: 1vh 1.5vh 1vh 1.5vh;
}

.button--close:hover {
  background-color: rgba(212, 212, 212, 0.548);
}

.button-burger {
  background-color: white;
}

.mobile-menu__text {
  font-size: 22px;
  text-align: center;
}

.mobile-menu__divider {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  align-items: left;
  display: inline-block;
  content: '';
  height: 1px;
  background: rgba(107, 107, 107, 0.116);
  width: 100%;
  top: 50%;
}

.button--mobile-dropdown {
  color: black;
  font-size: 15px;
  font-family: 'Hind';
  border: none;
  background: none;
  font-weight: 700;
  width: 100%;
  text-align: start;
  padding: 1.5vh 1vh 1.5vh 1vh;
}

.button--small-mobile-dropdown {
  color: black;
  font-family: 'Hind';
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  text-align: start;
  padding: 1.5vh 1vh 1.5vh 1vh;
}

.button--small-mobile-dropdown:hover {
  color: #1ac3da;
  background: none;
  border: none;
  font-weight: 600;
}

.button--mobile-dropdown:hover {
  background-color: #1ac4da28;
  border-radius: 10px;
  color: #1ac3da;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.mobile-dropdown__2 {
  display: none;
  margin-left: 3vh;
}

.mobile-dropdown__1 {
  display: none;
}
