.header {
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh;
  overflow: hidden;
}

.header__logo {
  width: 125%;
  height: auto;
  padding-right: 3%;
}

@media (max-width: 800px) {
  .header__logo {
    width: 70%;
  }
}

.header__link {
  padding-left: 3%;
  padding-right: 3%;
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: 'Archivo';
}

.header__link:visited {
  color: white;
}

.group--links {
  flex-basis: 60%;
}

.group--buttons {
  flex-basis: 15%;
}

.button--register {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  background-color: #fb4247;
  border-radius: 8px;
  padding-left: 2vh;
  padding-right: 2vh;
  color: white;
  border: none;
  font-size: 17px;
  font-family: 'Archivo';
  cursor: pointer;
}

.button--register:hover {
  background-color: #b02d32;
}

.button--dropdown {
  color: white;
  font-size: 17px;
  font-family: 'Archivo';
  border: none;
  background: none;
  padding-right: 3vh;
  padding-left: 3vh;
}

.button--dropdown:hover {
  background: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin: 0;
}

.dropdown__content {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: #ffffff;
  min-width: 180px;
  z-index: 1;
  border-radius: 10px;
  padding: 2vh;
  font-weight: 600;
  line-height: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown__content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  margin-left: -10px;
  margin-top: -10px; /* Set margin equal to border px */
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 10px #fff; /* Creates the arrow pointing up, to change to a notch instead user border-top */
  border-left: solid 10px transparent; /* Creates triangle effect */
  border-right: solid 10px transparent; /* Creates triangle effect */
}
.dropdown__content a {
  display: block;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown__content a:hover {
  color: red;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.button--login {
  border: none;
  background-color: inherit;
  color: white;
  font-family: 'Archivo';
  font-size: 17px;
  padding-right: 10%;
}

.button--login:hover {
  background: none;
}

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 2vh;
}

.mobile-menu {
  display: none;
  margin: 2vh;
  font-weight: 700;
}

.mobile-menu a {
  text-decoration: none;
}

.mobile-menu a:visited {
  color: rgb(0, 0, 0);
}

.mobile-menu-container {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
}

.mobile-menu-container__row {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 30vw;
  margin-bottom: 2vh;
}

.button--close {
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
}

.button-burger {
  background-color: white;
}

.menu-text {
  font-size: 22px;
  margin-bottom: 2vh;
  text-align: center;
}

.mobile-menu__divider {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  align-items: left;
  margin-bottom: 5vh;
  display: inline-block;
  content: '';
  height: 1px;
  background: rgba(107, 107, 107, 0.25);
  width: 90%;
  top: 50%;
  margin-top: 5px;
  margin-left: 10px;
}
