html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Hind;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.img-background {
  background-image: url(../media/darkbg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

.background {
  background-image: linear-gradient(
    0deg,
    rgba(2, 16, 64, 1) 0%,
    rgba(77, 85, 110, 1) 100%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}

.background--light {
  margin-top: -5vh;
}

.main-container {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 20vh;
}

.main-container--column {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.main-container__column {
  flex-flow: column;
}

.container {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vw;
}

.container__column {
  flex-flow: column;
}

.container__column--right {
  flex-flow: column;
  flex-basis: 30%;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  font-family: 'Hind';
  font-size: 48px;
  inline-size: 50%;
}

.text--right {
  font-family: 'Hind';
  font-size: 48px;
  flex-wrap: wrap;
}

.text--paragraph {
  color: #2f3a5f;
  inline-size: 47%;
  margin-bottom: 5vh;
}

.text--right-paragrah {
  color: #2f3a5f;
  flex-wrap: wrap;
}

.text--main-header {
  font-size: 64px;
  inline-size: 65%;
  font-family: 'Archivo';
}

.text--main-paragraph {
  font-size: 20px;
  inline-size: 50%;
  font-family: Hind;
  margin-bottom: 10vh;
}

.divider {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  align-items: left;
  margin-bottom: 5vh;
}

.divider::after {
  display: inline-block;
  content: '';
  height: 1px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 90%;
  top: 50%;
  margin-top: 5px;
  margin-left: 10px;
}

.card {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 5vh;
}

.card:hover {
  background: white;
  border: none;
  box-shadow: 0px 0px 65px 9px #9c9c9c3b;
}

.card__icon {
  background-color: #1ac4da23;
  border-radius: 12px;
  width: fit-content;
  padding: 2vh;
  margin-bottom: 3vh;
  align-content: center;
}

.card__header {
  font-family: Archivo;
  font-size: 24px;
  font-weight: 700;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

.card__text {
  font-size: 20px;
  flex-wrap: wrap;
  margin-bottom: 6vh;
}

.card__link {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
}

.register {
  display: flex;
  flex-direction: column;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 5%;
  margin-bottom: 20vh;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  background-image: url(../media/bg.svg);
  background-color: #2f3a5f;
  padding: 5vh;
  border-radius: 20px;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 5vh;
  padding-top: 10vh;
}

.register__header {
  font-size: 42px;
  font-family: 'Archivo';
  color: white;
}

.register__button {
  padding: 2vh;
  margin-top: 2vh;
  background-color: #fb4247;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 17px;
  font-family: 'Archivo';
  cursor: pointer;
  max-width: 10vw;
}

input[type='email'] {
  font-family: Hind;
  color: black;
  font-weight: 700;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dot .active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
